TELEGRAM_TOKEN=your_telegram_token_here
TELEGRAM_BOT_USERNAME=your_bot_username_here

LLM_BASE_URL=http://127.0.0.1:1234
LLM_MODEL=qwen3-8b
LLM_API_KEY=dummy
TELEGRAM_ADMIN_PASSWORD=admin123 # Put what you want here.
EMBEDDINGS_MODEL=nomic-embed-text-v1.5
EMBEDDINGS_BASE_URL=http://127.0.0.1:1234
EMBEDDINGS_API_KEY=dummy

EMBEDDINGS_STORAGE_FILE=var/memory.txt
PENDING_REQUESTS_FILE=var/pending_requests.json
CHECKPOINT_FOLDER=var/checkpoints
